/* add home page styles here */
.shell {
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.shell img {
    width: 100%;
    transition: transform 0.5 ease-in-out ;
    z-index: 20;
}